<div class="container">
    <h1>Clientes</h1>
    <button class="btn btn-primary">Adicionar Cliente</button>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>CPF</th>
                <th>Nacionalidade</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th>Endereço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Fábio</td>
                <td>Amaral Jr</td>
                <td>123.456.123-12</td>
                <td>Brasileiro</td>
                <td>fabio@gmail.com</td>
                <td>(31) 99784-4723</td>
                <td>Rua B, 34771-147, Contagem - Minas Gerais</td>
                <td>
                    <button class="btn btn-warning" style="margin: 0 10px 10px 0;">Editar</button>
                    <button class="btn btn-danger">Excluir</button>
                </td>
            </tr>       


        </tbody>
    </table>
</div>